@model Mvc.ViewModels.Forums.ForumsTopicViewModel

<h1>Welcome to the @Model.Forum.Title Forum.</h1>

@if (Model.Posts.Any())
{
  <a class="py-2 pl-2" style="display: block;" asp-controller="posts" asp-action="create" asp-route-forumId="@Model.Forum.Id">Create a New Post</a>

  <table>
    <tbody>
      @foreach (var post in Model.Posts)
      {
        <tr>
          <td>
            <a asp-controller="Posts" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
          </td>
          <td>@post.Author.Name</td>
          <td>@post.CreatedAt</td>
          <td>@post.PostRepliesCount</td>
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <div class="no-posts">
    <h5>
      It looks like there are no @Model.Forum.Title posts yet. <br />
      Why not <a asp-controller="posts" asp-action="create" asp-route-forumId="@Model.Forum.Id">Create</a> one?
    </h5>
  </div>
}